In [1]:
import pandas as pd

In [3]:
s = pd.Series([10,20,30],index=['a','b','c'])
print(s)
print(s['a'])

a    10
b    20
c    30
dtype: int64
10

In [4]:
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'Score': [85.5, 90.0, 95.5]
}

df = pd.DataFrame(data)
print(df)

      name  age  Score
0    Alice   25   85.5
1      Bob   30   90.0
2  Charlie   35   95.5

In [10]:
print(df.iloc[0:1])

    name  age  Score
0  Alice   25   85.5

In [12]:
print(df.loc[0:1])

    name  age  Score
0  Alice   25   85.5
1    Bob   30   90.0

In [13]:
# 创建一个更大的 DataFrame
data = {
    'Name': ['Tom', 'Lily', 'Jack', 'Lucy', 'Eric'],
    'Math': [88, 95, 70, 82, 91],
    'English': [78, 85, 90, 88, 76],
    'Gender': ['M', 'F', 'M', 'F', 'M']
}

df = pd.DataFrame(data)

# 查看数据形状
print(df.shape)

# 查看列名和数据类型
print(df.columns)
print(df.dtypes)

# 查看前两行和后三行
print(df.head(2))
print(df.tail(3))

# 打印所有行索引
print(df.index)

# 打印数值列的统计信息
print(df.describe())

(5, 4)
Index(['Name', 'Math', 'English', 'Gender'], dtype='object')
Name       object
Math        int64
English     int64
Gender     object
dtype: object
   Name  Math  English Gender
0   Tom    88       78      M
1  Lily    95       85      F
   Name  Math  English Gender
2  Jack    70       90      M
3  Lucy    82       88      F
4  Eric    91       76      M
RangeIndex(start=0, stop=5, step=1)
            Math   English
count   5.000000   5.00000
mean   85.200000  83.40000
std     9.731393   6.14817
min    70.000000  76.00000
25%    82.000000  78.00000
50%    88.000000  85.00000
75%    91.000000  88.00000
max    95.000000  90.00000

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Math     5 non-null      int64
 2   English  5 non-null      int64
 3   Gender   5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [15]:
data = {
    'Name': ['Tom', 'Lily', 'Jack', 'Lucy', 'Eric'],
    'Math': [88, 95, 70, 82, 91],
    'English': [78, 85, 90, 88, 76],
    'Age': [20, 22, 21, 23, 21]
}
df = pd.DataFrame(data)

# 1. 按 Math 成绩升序排序
print(df.sort_values(by='Math'))

# 2. 按 Age 降序排序
print(df.sort_values(by='Age', ascending=False))

# 3. 按 Age 升序 + English 降序
print(df.sort_values(by=['Age', 'English'], ascending=[True, False]))

# 4. 按列名排序（列从 A 到 Z）
print(df.sort_index(axis=1))

   Name  Math  English  Age
2  Jack    70       90   21
3  Lucy    82       88   23
0   Tom    88       78   20
4  Eric    91       76   21
1  Lily    95       85   22
   Name  Math  English  Age
3  Lucy    82       88   23
1  Lily    95       85   22
2  Jack    70       90   21
4  Eric    91       76   21
0   Tom    88       78   20
   Name  Math  English  Age
0   Tom    88       78   20
2  Jack    70       90   21
4  Eric    91       76   21
1  Lily    95       85   22
3  Lucy    82       88   23
   Age  English  Math  Name
0   20       78    88   Tom
1   22       85    95  Lily
2   21       90    70  Jack
3   23       88    82  Lucy
4   21       76    91  Eric

In [16]:
import pandas as pd

data = {
    'Name': ['Tom', 'Lily', 'Jack', 'Lucy', 'Eric', 'Anna'],
    'Math': [88, 95, 70, 82, 91, 85],
    'English': [78, 85, 90, 88, 76, 92],
    'Age': [20, 22, 21, 23, 21, 22],
    'Gender': ['M', 'F', 'M', 'F', 'M', 'F']
}
df = pd.DataFrame(data)

In [22]:
# 按 Gender 列分组
grouped = df.groupby('Gender')

# 查看每个组的内容
for name, group in grouped:
    print(name)
    print(group)

F
   Name  Math  English  Age Gender
1  Lily    95       85   22      F
3  Lucy    82       88   23      F
5  Anna    85       92   22      F
M
   Name  Math  English  Age Gender
0   Tom    88       78   20      M
2  Jack    70       90   21      M
4  Eric    91       76   21      M

In [23]:
# 按 Gender 分组，聚合 Math 和 English 列
grouped_agg = grouped.agg({
    'Math': ['mean', 'sum'],
    'English': 'mean'
})
print(grouped_agg)

             Math         English
             mean  sum       mean
Gender
F       87.333333  262  88.333333
M       83.000000  249  81.333333